<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


	<link rel="stylesheet" href="/image.css">


	
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	

	<script>
    	$(document).ready( function(){

    		// Login Session Check - Start
    		var loginCheck = {
    			type: "POST",
    			url: "/authcheck",
    			data: null,

    			success: function(results){
    				if( results && results === "E" ){
    					alert( "You must login this system for assigning failures." );
    					$(location).attr( "href", "/" );
    				}
    			},
    			error: function(error){
    				alert( "An error occured.\nPlease contact administrator." );
    			}
    		}

    		$.ajax( loginCheck );
    		// Login Session Check - End

    		
    		$('.navbar-toggle').click(function(e) {
		      e.preventDefault();
		      $('.site-nav').slideToggle(180, "linear");
		    });

		    $("#sign-out").on( "click", function(){
		    	$(location).attr( "href", "/" );
		    } );

		    $(".btn-assign").on( "click", function(){
		    	alert( $(this).data("id") );
		    	$(location).attr( "href", "/assign/" + $(this).data("id") );
		    } );
    	} );
    </script>



	<title>OIL ANALYZER</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="float: left; margin-left: 8px">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <button type="button" class="navbar-toggle" id="sign-out" style="color: white; float:right; margin-right: 8px">
            Sign Out&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span>
    		</button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar" style="background-color: white; color: #04313a">
	      <ul class="nav navbar-nav">
	        <li class="navbar-item"><a href="/list" class="site-nav-menu" id="1" name="List" data-href="/list">List</a></li>
          	<li class="navbar-item"><a href="/analyzing" class="site-nav-menu" id="1" name="Assign Failure" data-href="/analyzing">Analyze</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li class="navbar-item active"><a href="/setting" class="site-nav-menu" id="1" name="Setting" data-href="/setting">Setting</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	    

	<div class="container-fluid">
		
		<div class="row content-body">
			
			<article>
				<h3 style="color: #222">Copyright</h3>
				<div class="machine-title before-line">
				</div>
				<table class="table table-responsive table-bordered machine-list">
					<tbody>
						<tr>
							<td class="td-title">System</td>
							<td class="td-content">
								<span>Oil Analyzer</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">Regulation</td>
							<td class="td-content">
								<span>Whole usage of this system would be monitored by administrator. There are no one can use one as personal purpose. All rights are reserved in Park Hong Gyu.</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">Date</td>
							<td class="td-content">
								<span>Dec 3 2018</span>
							</td>
						</tr>
					</tbody>
				</table>

			</article>

			<article>
				<h3 style="color: #222">Development Info</h3>
				<div class="machine-title before-line">
				</div>
				<table class="table table-responsive table-bordered machine-list">
					<tbody>
						<tr>
							<td class="td-title">Company</td>
							<td class="td-content">
								<span>-</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">Developer</td>
							<td class="td-content">
								<span>-</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">Management</td>
							<td class="td-content">
								<span>Park Hong Gyu</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">System Env</td>
							<td class="td-content">
								<span>Nodejs</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">Framework</td>
							<td class="td-content">
								<span>summer-mvc</span>
							</td>
						</tr>
					</tbody>
				</table>

			</article>

			<article>
				<h3 style="color: #222">Open Source Software</h3>
				<div class="machine-title before-line">
				</div>
				<table class="table table-responsive table-bordered machine-list">
					<tbody>
						<tr>
							<td class="td-title">summer-mvc</td>
							<td class="td-content">
								<span>[MIT] Framework</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">ejs</td>
							<td class="td-content">
								<span>[MIT] view engine</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">body-parser</td>
							<td class="td-content">
								<span>[MIT] back-end middleware</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">cookie-parser</td>
							<td class="td-content">
								<span>[MIT] back-end middleware</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">express-session</td>
							<td class="td-content">
								<span>[MIT] back-end middleware</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">mssql</td>
							<td class="td-content">
								<span>[MIT] database middleware</span>
							</td>
						</tr>
						<tr>
							<td class="td-title">busboy</td>
							<td class="td-content">
								<span>[MIT] file handling middleware</span>
							</td>
						</tr>
					</tbody>
				</table>

			</article>

		</div>

		<div class="row content-footer" style="text-align:center; padding-top:2rem">
			<div>
				<p>
					Copyright(c) 2018 Park Hong Gyu<br>
					Beta-Test Version - v.0.0.1
				</p>
			</div>
		</div>

	</div>
	
</body>
</html>